.kaufman__triangle{
    background-image: url(../../../images/triangle.svg);
    background-size: 877px 877px;
    position: absolute;
    top: 0px;
    right: -210px;
    width: 877px;
    height: 877px;
    z-index: -1;
    animation: rotation 20s infinite;
}
